/* CSS Document */

/* Table of Contents
-----------------------------------------------------------------------------
=> Desktop
=> Tablet
=> Medium devices
=> Small devices
=> iPhone X landscape
*/

/* ----- Desktop ≥1024px and ≤1190 ----- */
@media ( min-width: 1024px ) and ( max-width: 1199px ) {

}

/* ----- Tablet ≥768px and ≤1023 ----- */
@media ( min-width: 768px ) and ( max-width: 1023px ) {
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* ----- iPhone X landscape ≥375px and ≤812 ----- */
@media ( min-width: 375px ) and ( max-width: 812px ) and ( orientation: landscape ) {
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* ----- Medium devices ≤767px ----- */
@media ( max-width: 767px ) {
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* ----- Small devices ≤640px ----- */
@media ( max-width: 640px ) {

}
